pkgbase = minimem
	pkgdesc = Transparent lossless memory compression library
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/marcel-b-roodt/MiniMem
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = meson
	makedepends = gcc
	depends = libzstd
	optdepends = criterion: build tests and benchmarks
	source = minimem-0.7.0.tar.gz::https://github.com/marcel-b-roodt/MiniMem/archive/refs/tags/v0.7.0.tar.gz
	sha256sums = SKIP

pkgname = minimem